:root {
  --primary-bacground-color: #2f303a;
  --title-text-color: #212121;
  --aditional-text-color: hsl(0, 0%, 46%);
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --additional-background-colour: #f5f4fa;
}
/*---------------------*/

/*Mobile styles*/

/*---------------*/

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  overflow-x: hidden;
  margin: 0 auto;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
.backdrop.is-hidden,
.stack-section {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 480px;
}


.mobile-menu {
  display: block;
  z-index: 9;
}
.logo-link,.mobile-menu {
  margin: 0 30px;
}



.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 8px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.header {
  margin: 0 auto;
  border: 1px #ececec;
  border-bottom-style: groove;
}
.nav {
  background-color: var(--primary-white-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}
.logo-blue,
.logo-black {
  font-size: 26px;
  font-weight: 800;
  font-family: "Raleway";
  height: 31px;
}


.logo-link {
  text-transform: uppercase;
  font-weight: 800;
}
.logo-link,
.cont-link {
  text-decoration-line: none;
}




/* Navigation Contacts*/



/* Main content */
.main {
  height: auto;
}
/* Hero */

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 432px;
  background-color: var(--primary-bacground-color);
  color: var(--primary-white-color);
  margin: 0;
}

.hero {
  width: fit-content;
  font-size: 36px;
  margin: 0 50px 100px 50px;
  text-wrap-style: balance;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.hero-button {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  cursor: pointer;
  padding: 20px 16px;
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

/* Section */

/* Features */

.features-section {
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  justify-content: center;
  

  flex-direction: column;
  padding: 0;
  align-items: center;
  margin: 75px 0;
}

.features-list {
  padding: 10px;
  max-width: 356px;
}

.features-title {
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 36px;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

.features-description {
  width: auto;
  max-width: 500px;
  height: 75px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* Our stack */

.stack-title {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.stack {
  justify-content: center;
  display: flex;
  padding: 15px 0 69px 0;
}

.stack-list {
  padding: 1px 15px;
}

/* Our team */

.team-content {
  margin: 0 auto;
  height: 732px;
  background-color: var(--additional-background-colour);
}

.team-title {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title--ext-color);
  padding: 100px 0 50px 0;
}
.team {
  justify-content: center;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.team-list {
  padding: 40px 10px;

  
}
.team-content {
  height: auto;
  padding: 0 60px 60px 60px;
}

.team-styles {
  background-color: var(--primary-white-color);
  text-align: center;
  width: 264px;
  height: 380px;
  box-shadow: 1px 2px 1px lightgray;
  inline-size: fit-content;
  height: fit-content;
}
.team-member_title {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.team-member_description {
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: var(--aditional-text-color);
}

.member-social_list {
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
}

/* Footer */

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 252px;
  justify-content: center;
  background-color: var(--primary-bacground-color);
}
div > .logo-link > span {
  font-size: 18px;
}

.logo-white {
  font-size: 26px;
  font-weight: bold;
  font-family: "raleway";
  letter-spacing: 0.03em;
  height: 31px;
  color: var(--primary-white-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration-line: none;
  margin-bottom: 20px;
  margin-bottom: 20px;
    width: 270px;
    text-align: left;
}

/* Portfolio main styles */

.stack-filter {
  margin: 0 auto;
  padding: 50px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
}
.filter {
  margin:10px;
  border-radius: 4px;
}
.filter-button {
  color: var(--accent-color);
  background-color: var(--additional-background-colour);
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  padding: 15px 20px;
  height: auto;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.active-filter {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  padding: 2px 20px;
  height: 38px;
}
.stack-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
}
.portfolio_list {
  margin: 15px;
  border: 0.5px;
  border-style: groove;
}
.portfolio-list_title {
  letter-spacing: 0.06em;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #212121;
  padding-left: 20px;
}
.portfolio-list_text {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--aditional-text-color);
  padding-left: 20px;
}

/* Hero overlay */

.overlay {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--primary-bacground-color);
}
/* ----------------- */



/* Team member social list styles */

.member-social_list {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

/*
.member-social-list_item:hover {
  border-radius: 50%;
  border: 1px groove;
  border-color: var(--accent-color);
}

.social-list-icon:hover {
}
*/
/* --------------------- */

/* Our clients styles*/

.customer-section {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.clients-list_item {
  width: 190px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  max-width: 760px;
}
.clients-list_item:hover {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-logo {
  fill: var(--aditional-text-color);
  width: 150px;
  height: 60px;
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--stock-icon-color);
  padding: 15px 10px;
  color: var(--aditional-text-color);
}
.clients-list-logo:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------*/

/* Footer social styles */

.footer {
  height: auto;
  flex-direction: column;
}
.footer-cont {
  display: flex;
}
.footer-style {
  display: flex;
  
  justify-content: space-evenly;

  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
.footer-social {
  flex-direction: column;
  width: 208px;
  align-items: center;
  padding: 50px 0;
}
.footer-social_title {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  
}
.footer-social_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.social-link {
  display: flex;
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.footer-social_icon {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 40px;
  margin: 5px;
}

.social-link:hover {
  fill: var(--accent-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription_form {
  flex-direction: column;
  margin-bottom: 100px;
}
.footer-subscription_label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-subscription_input {
  width: 264px;
}
/* ------------------- */

/* Portfolio page styles */

.portfolio-list_style {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-list_style:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------- */

/* Contact us 'Modal window'  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 356px;
  background-color: var(--primary-white-color);
  position: fixed;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 45px 18px 30px 18px
}


.form-checkbox-div {
  letter-spacing: normal;
}

.features {
    flex-wrap: wrap;
  }

.modal-close_button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--title-text-color);
  cursor: pointer;
}
.modal-close_button:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-close_icon {
  width: 15px;
  height: 18px;
  display: block;
}

/* ---------------------------- */
/* Stack section text position */

.stack-list {
  position: relative;
}

.stack-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  display: block;
  position: absolute;
  bottom: 6px;
  width: 370px;
  height: 40px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 30px;
}

/* -------------------------- */

/*Portfolio card hover  */

.portfolio_list:hover .portfolio-list_description {
  transform: translateY(0);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.8;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list_link {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration-line: none;
 width: auto;
}

.portfolio-list_description {
  position: absolute;
  top: -16px;
  padding: 30px;
  display: block;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------------*/

/*Modal form*/

.modal-form_content {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.4;
  /* identical to box height, or 171% */
  color: var(--aditional-text-color);
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  word-break: break-all;
}
.modal-form-label {
  display: flex;
  flex-direction: column;
  /* padding: 10px 32px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
  width: 100%;
  color: var(--aditional-text-color);
}
  /* identical to box height */



.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

#input-name:focus + .form-icon_user {
  fill: var(--accent-color);
}
#input-tel:focus + .form-icon_tel {
  fill: var(--accent-color);
}
#input-email:focus + .form-icon_envelope {
  fill: var(--accent-color);
}

.modal-form_textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input {
  height: 18px;
  width: auto;
  border-radius: 2%;
  padding: 10px 0px 10px 30px;
  margin: 5px 0px 10px 0px;
  border: 1px groove rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transform: translate(50%);
}

.modal-form_textarea {
  height: 100px;
  padding: 7px 16px;
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border-radius: 5px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
.form-condition_field {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.form-condition_field::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 3px;
}
.condition-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
}
.form-checkbox {
  visibility: hidden;
  position: fixed;
}
.form-checkbox:checked + .form-condition_field::before {
  background-color: var(--accent-color);
  background-image: url(../icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.form-checkbox-div {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 12px;
  align-self: baseline;
  font-weight: 400;
}
.submit-form_button {
  display: flex;
  justify-content: center;
}
.submit-button:hover {
  background: var(--primary-white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.submit-button {
  width: 180px;
  height: 60px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.form-condition_link {
  color: #2196f3;
}

/* Form icons */

.form-icon_contact {
  width: 18px;
  height: 18px;
  position: fixed;
  left: 30px;
}
.form-icon_user {
  top: 127px;
}
.form-icon_tel {
  top: 197px;
}
.form-icon_envelope {
  top: 267px;
}
.form-icon_contact:hover {
  fill: var(--accent-color);
  cursor: text;
}
/* -------------------- */

/* Footer subscription form */
.footer-subscription_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription_title {
  font-size: 14px;
  line-height: 1.3;
  color: var(--primary-white-color);
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer-subscription_form {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.footer-subscription_label {
  height: 40px;
  margin: 10px;
}
.footer-subscription_input {
  padding-left: 10px;
  width: -webkit-fill-available;
  max-width: 430px;
  background-color: var(--primary-bacground-color);
  border: 1px solid var(--aditional-text-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}
.footer-subscription_button {
  width: 165px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  /* identical to box height, or 187% */
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.09em;
  justify-content: space-evenly;
  cursor: pointer;
}
.footer-subscription_button:hover {
  background: var(--primary-white-color);
  color: var(--accent-color);
}
.footer-subscription_icon {
  height: 25px;
  width: 25px;
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
}
.footer-subscription_button:hover > .footer-subscription_icon {
  fill: var(--accent-color);
}

/* -------------------- */
/*
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
  */


  /*Mobile first*/
.header .nav {
  position: relative;
  display: flex;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white-color);
  padding: 20px;
}
.menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 796px;
  width: -webkit-fill-available;
  z-index: 1;
  overflow: hidden;
 } 
.nav-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: start;
  width: fit-content;
 }

 .nav-link {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: none;
}
.nav-link {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-text-color);
  text-decoration-line: none;
}
 .active-link {
    color: var(--accent-color);
  }
.mobile-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: start;
  width: fit-content;
}
.nav-list-item {
  padding-top: 40px;
}
.mobile-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 104px;
  padding: 0;
}
.mobile-contact-phone {
  align-self: center;
}
.cont-phone {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}
.cont-link {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  padding-left: 15px;
}
.mobile-social_list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
}

@media (min-width: 768px){
  .mobile-social_list {
    display: none;
  }
  .backdrop.is-hidden,
  .nav-list,
  .contact-list {
    display: flex;
  }
  
  .menu-container {
    display: contents;
  }

 .nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
 }
  .nav {
    width: auto;
  }
  .logo-link {
    margin-left: 0;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
  .nav-list-item {
    display: flex;
    text-align: center;
    padding: 0 15px;
  }
 
  .nav-link {
    font-size: 16px;
    font-weight: 500;
  }
  .active-page {
    color: var(--accent-color);
  }
  .active-link {
    color: var(--accent-color);
  }
  .active-page::after {
    display: block;
    height: 4px;
    background-color: var(--accent-color);
    content: "";
    transform: translate(0px, 30px);
    position: absolute;
    top: 48px;
    width: 50px;
    border-radius: 3px;
  }
  .nav-link:hover,
  .cont-link:hover {
    color: var(--accent-color);
  }
  .mobile-menu {
    display: none;
  }
 
  .container {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }
  .contact-list {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .contact-list > li {
    padding: 5px 0;
  }
  .cont-link, .cont-phone {
    font-size: 12px;
    color: var(--aditional-text-color);
    font-weight: 400;
    font-style: normal;
  }
  .logo-blue,.logo-black {
    font-size: 18px;
  }
  .hero-content {
    height: 436px;
  }
  .hero {
    width: 550px;
    font-size: 56px;
    margin-bottom: 50px;
  }
  .features {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 1px;
    max-width: 1125px;
  }
  .features-title {
    text-align: left;
  }
  .team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 860px;
    justify-content: space-evenly;
  }
  .clients-list {
    max-width: 750px;
  }
  .footer-style {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }
  .footer-subscription_title {
    text-align: center;
    /*margin: 10px 0;*/
    
  }
  .footer-subscription_input {
    width: 264px;
  }
  .footer-subscription_form {
    flex-direction: row;
    justify-content: center;
  } 
  .footer-social {
    padding-left: 25px;
  }
  .footer-subscription_button {
    margin-left: 25px;
  }
  .stack-filter {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1159px) {
 
  .container {
    width: 1159px;
  }
  .nav {
    justify-content: space-evenly;

  }
  .nav-list {
    width: 280px;
    justify-content: space-around;
    display: flex;
  }
  .contact-list {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .cont-link, .cont-phone {
    font-size: 16px;
  }
  .contact-list > li {
    padding:0  10px;
  }
  .hero-content {
    height: 600px;
  }
  .features {
    flex-wrap: nowrap;
  }
  /* Features icons */

  .features-list::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--additional-background-colour);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4%;
  }

  .features-list:nth-child(1):before {
    background-image: url("../icons/main_icons/antenna\ 1.svg");
  }
  .features-list:nth-child(2)::before {
    background-image: url("../icons/main_icons/clock\ 1.svg");
  }
  .features-list:nth-child(3)::before {
    background-image: url("../icons/main_icons/diagram\ 1.svg");
  }
  .features-list:nth-child(4)::before {
    background-image: url("../icons/main_icons/astronaut\ 1.svg");
  }

  /* ------------------------- */
  


  /*
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;


  */

  .hero-content {
    
  }
  .features-section {
    
  }
  .features {
    padding: 100px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
  }
  .features-description {
    
  }
  .team {
    max-width: fit-content;
    flex-wrap: nowrap;
  }
  .clients-list {
    max-width: fit-content;
  }
  .footer {
    flex-direction: row;
    height: 300px;
  }
  .footer-style {
    padding: 0;
    width: 50%;
    justify-content: space-evenly;
  }
  .footer-sub-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-subscription_form {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer-subscription_title {
    justify-content: flex-start;
  }
  .footer-subscription_label {
    margin: 0;
    margin-top: 20px;
  }

  .stack-portfolio {
    width: auto;
    max-width: 1360px;
  }

}
  /*
.team-list {
  padding: 0px 15px;
}

.team-title {
  margin: 0;
  padding-bottom: 0;
}


.clients-list {
 */



  
