@import "./base/normalise";
@import "./utils/vars";
@import "./base/base";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";
 


 
 
  
  

  .portfolio
  
  .portfolio
  
  .portfolio
  
  .portfolio
  
  
  
  .portfolio
  
  .portfolio
  
  /* ============================ */
  
  
  /* Home work 5 */
  
  
  /* Header  active page underline*/
  

  
   .nav
  /* ---------------------------- */
  
  /* Contact us 'Modal window'  */
  

  // .portfolio_list:hover .portfolio-list_description {
  //   transform: translateY(0);
  //   font-family: Roboto;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 18px;
  // line-height: 28px;
  // letter-spacing: 0.03em;
  // color: $primaryWhiteColor;
  // } 
  
  .portfolio-list_style {
    position: relative;
  }

  .portfolio-list_link {
    
  } 
  
  .portfolio
  
  /* =================== */
  
  
  /* Home work 6 */
  

  
  .modal
  .modal
  .modal
  .modal
  .modal
  .modal
  .modal
  .modal-form-input:focus .form-icon{}
  
  .contact-form-icon{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translate(50%);
  }
  .form
  .modal
  .form-textarea{
    /* padding: 10px; */
    margin: 10px 0px;
    margin: 5px 0px 10px 0px;
    color: $aditionalTextColor;
    border-color: $aditionalTextColor;
    opacity: 0.5;
  }
  
  .form
  .form
  
  .submit
  .form
  
  /* Form icons */
  
  
  .form
  .form
  .form
  /* -------------------- */
  
  .stock-icon__color{
    color: indigo;
  }