* {
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    color: $titleTextColor;
    font-family: "railway";
  }
  ul {
    list-style: none;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .section {
    padding: 94px 0px;
    overflow-x: hidden;
  }
  .section-title {
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 78px;
    color: $titleTextColor;
  }
  .main-section__title {
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleTextColor;
  }
  .header-nav-active__page:after {
    content: '';
    
    width: 100%;
    height: 4px;
    display: block;
    background-color: $accentColor;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    position: absolute;
    bottom: -32px;
  }
  .logo-blue {
    color: $accentColor;
  }

  .logo-black {
    color: $titleTextColor;
  }

  .logo-white {
    font-size: 26px;
    font-weight: bold;
    font-family: "raleway";
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  

  .logo-blue,
  .logo-black{
    font-size: 26px;
    font-weight: bold;
    font-family: "raleway";
    letter-spacing: 0.03em;
}

  
// .member-social-list_item:hover {
 
//   border-radius: 20px;
//   height: 40px;
// }
// .social-list-icon:hover {
//   fill: var(--primary-white-color);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   width: 20px;
//   height: 20px;
// }

  
